<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Novo Produto</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/ListProducts" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              &nbsp;Voltar</a>
          </div>
        </div>
      </div>
      <form #productForm="ngForm">
        <div class="table-content">

          <!-- Brand Field -->
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Brand" class="p-t-b-10">Marca<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Brand" required maxlength="50"
                [(ngModel)]="addProductForm.Brand" name="Brand" #Brand="ngModel">
              <div *ngIf="Brand.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Brand.errors?.['required']">
                  Marca é obrigatória
                </div>
              </div>
            </div>
          </div>
          <!-- ProductCode Field -->
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="ProductCode" class="p-t-b-10">Código do Produto<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="ProductCode" required maxlength="50"
                [(ngModel)]="addProductForm.ProductCode" name="ProductCode" #ProductCode="ngModel">
              <div *ngIf="ProductCode.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!ProductCode.errors?.['required']">
                  Código do produto é obrigatório
                </div>
              </div>
            </div>
          </div>
          <!-- Description Field -->
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Description" class="p-t-b-10">Descrição</label>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" id="Description" [(ngModel)]="addProductForm.Description" name="Description"
                #Description="ngModel"></textarea>
            </div>
          </div>
          <!-- Value Field -->
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Value" class="p-t-b-10">Valor<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="number" step="0.01" class="form-control" id="Value" required
                [(ngModel)]="addProductForm.Value" name="Value" #Value="ngModel">
              <div *ngIf="Value.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Value.errors?.['required']">
                  Valor é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="AddProduct(productForm.form.valid)">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>